@page "/forgot-password"
@using Blazored.Toast.Services
@using UpdatedChatApp.Client.Models
@using UpdatedChatApp.Client.Services
@inject HttpClient Http
@inject NavigationManager navigation
@inject NavigationManager navigation
@inject IToastService toastService
@inject LocalStorageService LocalStorage

<div class="container">
    <h2>Sign In</h2>
    <EditForm Model="forgotPassword" OnValidSubmit="DoForgot">
        <div class="form-group">
            <label for="email">Email</label>
            <InputText type="email" id="email" class="form-control" placeholder="Email" @bind-Value="forgotPassword.Email"></InputText>
        </div>
        <button type="submit" class="btn btn-primary mt-3 w-100">Submit</button>
    </EditForm>
    <div class="mt-3">
        Don't have an account yet? <a href="/register">Sign up</a>
    </div>
</div>

<style>
    .container {
        max-width: 400px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 15px;
    }

    .btn-primary {
        background-color: #8a2be2;
        border-color: #8a2be2;
    }

        .btn-primary:hover {
            background-color: #7a1dd1;
            border-color: #7a1dd1;
        }

    a {
        color: #8a2be2;
    }
</style>

@code {
    private ForgotPasswordRequest forgotPassword = new ForgotPasswordRequest();


    private async Task DoForgot()
    {
        var email = forgotPassword.Email;
        var apiendpoint = "https://localhost:7145/api/Account/forgot";

        var response = await Http.PostAsJsonAsync(apiendpoint, email);

        if(!response.IsSuccessStatusCode)
        {
            toastService.ShowError("Invalid Email");
            await LocalStorage.SetItemAsync("VerificationEmail", email);
        }

        navigation.NavigateTo("otp-verify");
        toastService.ShowSuccess("OTP sent to your email");
    }
}
